MyLogicAppRulesWorkspace/LogicApp/PurchaseOrderWorkflow/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Execute_Purchasing_Business_Rules_function": {
                "type": "InvokeFunction",
                "inputs": {
                    "functionName": "PurchaseOrderFunction",
                    "parameters": {
                        "ruleSetName": "ProcessPurchaseOrderRuleSet",
                        "documentType": "PO",
                        "purchaseOrderXml": "@{base64ToString(triggerBody()?['$content'])}"
                    }
                },
                "runAfter": {}
            },
            "Response": {
                "type": "Response",
                "kind": "http",
                "inputs": {
                    "statusCode": 200,
                    "body": "@body('Execute_Purchasing_Business_Rules_function')"
                },
                "runAfter": {
                    "CheckIfApproved": [
                        "SUCCEEDED"
                    ]
                }
            },
            "CheckIfApproved": {
                "type": "If",
                "expression": {
                    "and": [
                        {
                            "equals": [
                                "@body('XML_parse_with_schema').json.Status",
                                "Approved"
                            ]
                        }
                    ]
                },
                "actions": {},
                "else": {
                    "actions": {
                        "Purchase_failed_e-mail": {
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "referenceName": "outlook"
                                    }
                                },
                                "method": "post",
                                "body": {
                                    "To": "@parameters('recipient_email')",
                                    "Subject": "Your purchase order was rejected",
                                    "Body": "<p class=\"editor-paragraph\">Your purchase order was rejected</p>",
                                    "Importance": "Normal"
                                },
                                "path": "/v2/Mail"
                            }
                        }
                    }
                },
                "runAfter": {
                    "XML_parse_with_schema": [
                        "SUCCEEDED"
                    ]
                }
            },
            "XML_parse_with_schema": {
                "type": "XmlParse",
                "inputs": {
                    "content": "@body('Execute_Purchasing_Business_Rules_function')?['XmlDoc']",
                    "schema": {
                        "source": "LogicApp",
                        "name": "PO.xsd"
                    },
                    "xmlReaderSettings": {
                        "dtdProcessing": "Prohibit",
                        "xmlNormalization": true,
                        "ignoreWhitespace": true,
                        "ignoreProcessingInstructions": true
                    },
                    "jsonWriterSettings": {
                        "ignoreAttributes": true,
                        "useFullyQualifiedNames": false
                    },
                    "rootNodeQualifiedName": "PurchaseOrder"
                },
                "runAfter": {
                    "Execute_Purchasing_Business_Rules_function": [
                        "Succeeded"
                    ]
                }
            }
        },
        "triggers": {
            "When_a_PurchaseOrder_is_received": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "method": "POST",
                    "schema": {}
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {}
    },
    "kind": "Stateful"
}